<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static',filename='dish.css')}}">
</head>

<body>
    <section id="topbnr">
        <nav class="navbar navbar-light bg-light">
            <center>
                <img src="static\css\logo.png" id="logo">
            </center>
            <button><a class="homebtn" href="/">Home</a></button>
        </nav>
    </section>
    <center>
        <h2 style="color: rgba(147, 234, 26, 0.971);margin-block-start: 25px;">VEG ROLL</h2>
    </center>
    <section class="making">
        <center>
            <img src="static\css\images (15).jpeg" id="rollimgtp">
            <hr>
            <h4 style="margin: 3px;text-decoration: underline;">INGREDIANTS REQUIRED</h4>
        </center>
        <div class="ingredients">
            <div>
                <p>
                    * 1/2 cup maida flour<br>
                    * 1/2 cup wheat flour<br>
                    * Salt<br>
                    * Tomato 2nos<br>
                    * Onion 2nos<br>
                    * Carrot 1nos<br>
                    * Capsicum 1nos<br>
                    * Cumin <br>
                </p>
            </div>
            <div>
                <p>
                    * Garam powder<br>
                    * Pepper powder<br>
                    * Chili powder<br>
                    * Tomato sauce<br>
                    * Chili sauce<br>
                    * Oil<br>
                    * Butter / Cheese (optional)
                </p>
            </div>
        </div>
        <hr>
        <center>
            <h2>STEP-1 :Prepare & Soak for Roti</h2>
            <img src="static\css\Cover-Step-1~2.jpg" class="rollimg">
            <p>Add maida & wheat flour,Add required salt and water,Mix well</p>
            <img src="static\css\Cover-Step-3~2.jpg" class="rollimg">
            <p>Knead(pisaiyavum) well,Soak for 20min </p>
            <h2>STEP-2 :Cutting Vegitables</h2>
            <img src="static\css\images (7)~2.jpg" class="rollimg">
            <p>Cutting Vegitables into your favourite sizes</p>
            <h2>STEP-3 :Start Cooking</h2>
            <img src="static\css\Screenshot_20241213-160321.jpg" class="rollimg">
            <p>Heat pan,Add oil,Add cummin(1-table spoon),Stewing some time</p>
            <img src="static\css\Screenshot_20241213-160352.jpg" class="rollimg">
            <p>Add Onion, Stewing until Onion get light brown color</p>
            <img src="static\css\Screenshot_20241213-160447.jpg" class="rollimg">
            <p>Add Tomato,Capsicum,carrot, Stewing well all Vegitable,<br>Add required salt</p>
            <img src="static\css\roll-masala.png" class="rollimg">
            <p>Inbetween stewing vegitables<br> Add garam(2-table spoon),chilli(1/2-table spoon)mix well<br>
                Your stuff will be ready,Take out the pan.
            </p>
            <h2>STEP-4 :Make Roti for Roll(Big size)</h2>
            <img src="static\css\Cover-Step-6~2.jpg" class="rollimg">
            <p>Make roti in big size,it will gives to make a roll comfortable</p>
            <img src="static\css\Cover-Step-8~2.jpg" class="rollimg">
            <p>Bake roti both sides in medium level,it will be soft <br>
                roti is ready.
            </p>
            <h2>STEP-5 :Ready To Make Roti Roll</h2>
            <img src="static\css\Screenshot_20241213-160600.jpg" class="rollimg">
            <p>Apply tomato,chili sauce in full roti </p>
            <img src="static\css\Screenshot_20241213-160718.jpg" class="rollimg">
            <p>Add prepared vegi stuff in center of the roti<br>
                Finally add seasoning pepper and optional (cheese) <br>gives you better taste with aroma.
            </p>
            <img src="static\css\Screenshot_20241213-160735.jpg" class="rollimg">
            <p>make a roll in the given image</p>
            <img src="static\css\Screenshot_20241213-160928.jpg" class="rollimg">
            <p>Close both sides and punch using toothpic stick</p>
            <img src="static\css\vegroll.png" class="rollimg">
            <h3>Veg roll is ready to serve</h3>
        </center>
    </section>
</body>

</html>